.pageTitle {
  font-weight: bold;
  font-size: 3rem;
  color: forestgreen;
  background-color: #c0ffc0;
  text-align: center;
  border-radius: 20px;
}

.flexItem {
  max-width: 50%;
  padding: 0 2.5rem;
}
